

#logo{
  width:500px;
    }
#sayHi{

  list-style: none;
  list-style: none;
  font-size: unset;
  font-style: oblique;
  font-variant-caps: titling-caps;
}
#logout
{
    font-style: oblique;
}

.sun {text-align:left; color: deeppink;}
.mon {text-align:left;}
.tue {text-align:left;}
.wed {text-align:left;}
.thu {text-align:left;}
.fri {text-align:left;}
.sat {text-align:left; color: deepskyblue;}
#calinfo
{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;

}

#s,#m,#t,#w,#th,#f,#sa
{
  text-align: center;
}

#basicInfo{
  padding-left: 30px;
  padding-top:  62px;

}


/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {font-family: 'Nanum Gothic', serif;}
*/
/*
header{
  border-bottom:5px solid gray;
  padding: 40px;
}
header img{
  float:right;
  height: 100px;
}*/
/*

#basicInfo{
  padding-left: 250px;
}
#list{
    border-right:5px solid gray;
    width:200px;
    height:900px;
    float:left;
  }
  #list ol
  {
    list-style: none;
    padding:0;

  }
  #sayHi{
    float:right;
    list-style: none;

    float: left;
    list-style: none;
    font-size: unset;
    font-style: oblique;
    font-variant-caps: titling-caps;
}
*/
